*{
    box-sizing: border-box;
    font-family: roboto;

}

header {
    width:100vw;
    background-color: #eac926;
    position: fixed;
    top:0px;
    z-index: 10;
    max-height: 200px;

}

header section{
    width:50%;
    padding: 10px;
}

.burger-menu{

    width:35px;
    background-color: blue;
    color:white;
    display:block;

}
.header-nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-nav img{
    width:100px;
}



#home-banner img{

    width: 100%;
    margin-top: 120px;
}
.header-nav input{
    width: 80%;
    display:inline;
}

.header-nav i{
    display:inline;
}

.header-nav h4{
    display:inline;
    font-size: 10px;
    line-height: 14px;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav section{
    width:100%;
}


header nav .nav-bar{
    display:none;
    font-size: 1vw;
}
header nav .nav-bar a{
    text-decoration: none;
    padding: 0 10px 0 10px;
}

header nav .left{
    align-self: left;
    width:50%;
    display:flex;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
}


header nav .right{
    align-self: right;
    width:50%;
    display:flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
}

main{
    background-color: lightgray;
    width:90%;
}

main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
}

main section h2{
    font-size: 24px;
}

.producto{
    background-color: white;
    width: 80%;
    border: 1px solid #ebebeb;
    margin:5px;
    padding: 15px;
    position:relative;
    transition: box-shadow 500ms;
}

.producto i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width:30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color:#FFF;
    border-radius: 50%;
    position:absolute;
    right:20px;
    top:-15px;
    transition: all 500ms;
}

.producto i:hover{
    transform:rotate(90deg);
}

.producto img{
    width: 20%;
    
}

.precio{
    font-size: 12px;
    line-height: 12px;
    width:30%;
}

.descuento{
    font-size: 10px;
    color: #39b54a;
    line-height:10px;
    width:70%;
}

.descripcion{
    font-size:16px;
    display: none;
    color:white;
}

.precioydescuento{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.form{

    width:70%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    padding: 2%;
    font-size: small;
    margin: 100px;

}
.form label{
    width:100%;
}
.form .userProfile{
    display: flex;
    justify-content: flex-start;
}
.form .userInterest{
    display:flex;
    justify-content: flex-start;
}


.form button{
    width:80%;
    background-color: lightblue;
    color:white;
    height: 2vw;
    margin: auto;
    transition: background-color 1s;
}

.form button:hover{
    background-color: #0022AA;
}
footer{
    padding:5%;
}

.footer-box{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.footer-box article{
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.footer-box article i{

    width:35px;
    background-color: blue;
    color:white;
    display:block;
    transition: background-color 500ms;
}

@media (min-width:361px) {


    header section{
        width:30%;
    }

    header nav .nav-bar{
        display:flex;
        font: size 3vw;
    }

    header nav .nav-bar a{
        padding: 0 1px 0 1px;
    }

    .burger-menu{
        display:none;
    }

    .producto{
        width: 40%;
    }

   .producto img{
        width:50%;
    }

    .precio{
        font-size: 18px;
    }

    .descuento{
        font-size: 16px;
    }

    .descripcion{
        display: inline;
    }
   
}

@media (min-width: 769px) {
    header nav h4{
        font-size: 22px;
    }
    .producto{
        width:20%;
    }

    .producto:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);

    }
    .descripcion:hover{
        color:black;
    }

    .footer-box{
        flex-flow: row;
        flex-wrap: wrap;
    }

    .footer-box article{
        width:30%;
    }

    .footer-box article i:hover{
        background-color: yellow;
    }

    #Copyright{
        align-self:initial;
    }
}