*{
    box-sizing: border-box;
    font-family: roboto;

}

header {
    width:100vw;
    background-color: #eac926;
}

header section{
    width:50%;
    padding: 10px;
}

.burger-menu{

    width:35px;
    background-color: blue;
    color:white;
    display:block;
}
.header-nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-nav img{
    width:100px;
}



#home-banner img{

    width: 100%;
}
.header-nav input{
    width: 80%;
    display:inline;
}

.header-nav i{
    display:inline;
}

.header-nav h4{
    display:inline;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav section{
    width:100%;
}


header nav .nav-bar{
    display:none;
}

header nav .left{
    align-self: left;
    width:50%;
    display:flex;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
}


header nav .right{
    align-self: right;
    width:50%;
    display:flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
}

main{
    background-color: lightgray;
    width:90%;
    margin:auto;

}

main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
}

main section h2{
    font-size: 24px;
}

main section article{
    background-color: white;
    width: 80%;
    border: 1px solid #ebebeb;
    margin:5px;
    padding: 15px;
}

main section article img{
    width: 150px;
}

.precio{
    font-size: 12px;
    line-height: 12px;
    width:30%;
}

.descuento{
    font-size: 10px;
    color: #39b54a;
    line-height:10px;
    width:70%;
}

.descripcion{
    font-size:16px;
    display: none;
}

.precioydescuento{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width:361px) {


    header section{
        width:30%;
    }

    header nav .nav-bar{
        display:flex;
    }

    .burger-menu{
        display:none;
    }

    main section article{
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    main section article img{
        width:100px;
    }

    .precio{
        font-size: 18px;
    }

    .descuento{
        font-size: 16px;
    }

    .descripcion{
        display: inline;
    }
}

@media (min-width: 769px) {
    main section article{
        width:20%;
    }
}